<?xml version='1.0' encoding='utf-8'?>
<Context>
    <Resource name="jdbc/default" global="jdbc/default" auth="Container" type="javax.sql.DataSource"
              driverClassName="com.mysql.jdbc.Driver" url="jdbc:mysql://localhost:3306/bchentities" username="root" password=""
              maxActive="100" maxIdle="20" minIdle="5" maxWait="10000" />
</Context>